    </div><!-- /.container -->
  <%_ include ../components/_footer _%>
  </div><!-- /.wrapper -->
<%_ for ( var i = 0; i < JS_FILE.length; i++ ) { _%>
<script type="text/javascript" src="<%= ROOT %>assets/js/<%= JS_FILE[i] %>.ts.js"></script>
<%_ } _%>
</body>
</html>
